@import "tailwindcss";
@plugin "@tailwindcss/forms" {
  strategy: "class"; /* only generate classes */
}
/* @layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities); */

@theme {
  /*
  see theme variable namespaces in documentation */
  --font-sans: "Helvetica Neue", Arial, "sans-serif";
  --font-serif: Georgia, "Times New Roman", serif;
  --color-maxbg: rgb(59, 59, 59);
  --color-inherit: inherit;
  --color-mix: color-mix(in oklab, currentcolor 50%, transparent);
}

@utility form-checkbox {
  @apply text-[#E6A60D] bg-[#3b3b3b] border border-[#E6A60D] focus:outline-0 focus:outline-offset-0 focus:border-[#E6A60D] focus:ring-offset-0 focus:ring-transparent;
}

@layer base {
  button {
    padding: 20px;
    border: solid rgb(133, 133, 133) 0.5px;
    border-radius: 3px;
    cursor: pointer;
    @apply text-4xl font-medium bg-maxbg hover:bg-stone-700;
  }
  button.refresh {
    display: inline-flex;
    width: 20px;
    margin: 0 5px;
    border-radius: 0;
    border: 1px rgb(133, 133, 133) solid;
    padding: 0.1em;
    @apply bg-maxbg;
  }
  button.round {
    @apply m-0 mr-[4px] rounded-full w-[calc(95%*1/4)] aspect-square inline-flex flex-col justify-center items-center text-center p-0 border-[#E6A60D] border text-lg font-sans;
  }
  input,
  select {
    border: solid 0.5px;
    border-radius: 3px;
    background-color: rgb(59, 59, 59);
  }

  .patreon-text a {
    @apply text-[#ff1493];
  }

  svg {
    width: 100%;
  }
}

:root {
  /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%; 

  color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /*
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
*/
}
/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.refresh {
  display: inline-flex;
  width: 20px; 
  margin: 0 5px;
  border-radius: 0;
  border: 1px rgb(133, 133, 133) solid;
  padding: 0.1em;
  background-color: rgb(59, 59, 59);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
